<!DOCTYPE html>
<html>

<style>
    h1 {
        text-align: center;
    }

    body {
        width: 100%;
        max-width: 600px;
        border: 0px;
        border-spacing: 0px;
        border-collapse: separate;
        margin-right: auto;
        margin-left: auto;
    }
</style>

<head>
    <title>{{ name }} Wiki Page</title>
</head>

<body
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

    "{{ query }}" is not a valid university name, acronym, or abbreviation. Please search again.

</body>

</html>